<div class="content" style="margin-top: 5%;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="icon/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Login</h3>
            </div>
            <form  action="/admin" method="POST">
              <div class="form-group first">
                <label for="">Email</label>
                <input type="email" name="email" class="form-control" id="" value="adon@gmail.com">
              </div>
              <div class="form-group last mb-4">
                <label for="">Password</label>
                <input type="password" name="password" class="form-control" id="" value="1234">
              </div>
              {{#if loginErr}}
              <div class="form-group last mb-4">
                <label for="" style="color: #f10707;">{{ loginErr}}</label>
              </div>
              {{/if}}
              <input type="submit" value="LogIn" class="btn btn-block btn-primary">
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

