<script>
    function viewImg(event) {
        document.getElementById("imgView").src =
        URL.createObjectURL(event.target.files[0]);
    }
</script>

<div id="main">
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Edit Category Details</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form method="POST" enctype="multipart/form-data"
                                action="/admin/edit-category/{{category._id}}">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="">Category Name</label>
                                        <input type="text" class="form-control" id="" name="categoryName"
                                            value="{{category.categoryName}}" />
                                    </div>
                            
                                    <div>
                                        <img src="/category/{{category._id}}.jpg" style="width: 200px;height: 200px;"
                                            alt="" id="imgView" />
                                    </div>
                                    <div class="form-group">
                                        <label for="">Image</label>
                                        <input type="file" class="form-control-file" id="" name="image"
                                            onchange="viewImg(event)" />
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>