<div id="main">
    <div class="page-heading">

        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Orderd Food Items</h3>
                </div>
            </div>
        </div>


        <section class="py-5">
            <div class="container p-0">
                <div class="row">
                    <!-- SHOP SIDEBAR-->


                    <!-- SHOP LISTING-->
                    <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                        <div class="row">
                            {{#each orderItemDetails}}
                            <!-- PRODUCT-->
                            <div class="col-lg-4 col-sm-6">
                                <div class="card p-2">
                                    <div class="product text-center">
                                        <div class="mb-3 position-relative">
                                            <div class="badge text-white badge-"></div><a class="d-block"
                                                href="#"><img
                                                    class="img-fluid w-100"
                                                    src="/images/{{this.itemDetails._id}}.jpg" alt="..."></a>

                                        </div>
                                        <h6> <a class="reset-anchor" href="#">{{this.itemDetails.name}}</a></h6>
                                        <p class="small text-muted">₹{{this.itemDetails.price}}</p>
                                        <p class="small text-muted">Quantity:{{this.quantity}}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- PRODUCT-->
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>