<div id="sidebar" class="active">
  <div class="sidebar-wrapper active">
    <div class="sidebar-header">
      <div class="d-flex justify-content-between">
        <div class="logo">
          <a href="/admin" style="text-decoration: none;"><span>ADMIN PANEl</span></a>
        </div>
        <div class="toggler">
          <a href="#" class="sidebar-hide d-xl-none d-block"><i
              class="bi bi-x bi-middle"
            ></i></a>
        </div>
      </div>
    </div>
    <div class="sidebar-menu">
      <ul class="menu">
         <li class="sidebar-item">
          <a href="/admin" class="sidebar-link">
            <i class="bi bi-laptop"></i>
            <span>DASHBOARD</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/banner" class="sidebar-link">
            <i class="bi bi-card-image"></i>
            <span>BANNER MANAGER</span>
          </a>
        </li>
         <li class="sidebar-item">
          <a href="/admin/add-category" class="sidebar-link">
            <i class="bi bi-list"></i>
            <span>CATEGORY MANAGER</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/all-food-items" class="sidebar-link">
            <i class="bi bi-grid-fill"></i>
            <span>All FOOD ITEMS</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin//add-food-item" class="sidebar-link">
            <i class="bi bi-stack"></i>
            <span>ADD FOOD ITEMS</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/users-list" class="sidebar-link">
            <i class="bi bi-person-badge-fill"></i>
            <span>USERS MANAGER</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/view-orders" class="sidebar-link">
            <i class="bi bi-basket-fill"></i>
            <span>ORDERS MANAGER</span>
          </a>
        </li>
         <li class="sidebar-item">
          <a href="/admin/order-report" class="sidebar-link">
            <i class="bi bi-receipt"></i>
            <i class="fa-solid fa-file-chart-column"></i>
            <span>ORDER REPORT</span>
          </a>
        </li>
         <li class="sidebar-item">
          <a href="/admin/add-coupon" class="sidebar-link">
            <i class="bi bi-cash"></i>
            <span>ADD COUPON</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/adminlogout" class="sidebar-link"  onclick="adminlogout(event)">
            <i class="bi bi-arrow-down-left-circle"></i>
            <span>LOGOUT</span>
          </a>
        </li>
      </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
  </div>
</div>
<header class="mb-3">
  <a href="#" class="burger-btn d-block d-xl-none">
    <i class="bi bi-justify fs-3"></i>
  </a>
</header>