 <div class="container">
        <!-- HERO SECTION-->
        <section class="py-5 bg-light">
          <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
              <div class="col-lg-6">
                <h1 class="h2 text-uppercase mb-0">Completed</h1>
              </div>
              <div class="col-lg-6 text-lg-right">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/cart">Cart</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Completed</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <section class="py-5">
          <!-- BILLING ADDRESS-->
          
         <div class="container py-5">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <!-- Navigation-->
            <header class="text-center mb-5">
              <h2>Order Placed Successfully</h2>
            </header>
           
            <div class="text-center">
            <svg class="theme-line-4 svg-icon-ligh " fill='%23fff'><use xlink:href="#delivery-time-1"></use></svg>
              <h1>Thank you</h1>
              <div class="row">
                <div class="col-lg-7 mx-auto">
                  <p class="text-muted mb-4">We received your order and will begin processing it soon.Your Order information appears below.</p>
                </div>
              </div><a class="btn btn-primary" href="/view-order"> <i class="fas fa-shopping-bag me-2"></i>View order </a>
            </div>
          </div>
        </div>
      </div>     
 </section>
</div>
